<!DOCTYPE html>
<html ng-app="movieList" lang="en">

    <head>
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>

        <title>My Movie Collection</title>
    </head>

    <body id="background" class="container" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;" ng-controller="movieController as movie">
        <h1 class="jumbotron text-center">My Awesome Movie Collection</h1>
        <label>Add movies here:</label>
        <input id="newMovieTitle" type="text" ng-model="movie.newItem.title" size="30" placeholder="Title"/>
        <button type="button" ng-click="movie.getMovie(movie.newItem.title)" name="button" class="btn btn-info " data-toggle="modal" data-target="#myModal">Submit</button>
        <label>Sort by:</label>
        <select ng-model="movie.sortType">
          <option ng-repeat="key in movie.dummyKeys" value="{{key}}">{{key}}</option>
        </select>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Search Results</h4>
                    </div>
                    <div class="modal-body">
                        <img ng-src="{{movie.newMovie.Poster}}" height="150px">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="movie.addItem(movie.newMovie);">Add Movie</button>
                    </div>
                </div>
            </div>
        </div>


        <table class="table table-striped">
            <thead>
            </thead>
            <tbody>
                  <tr ng-repeat="item in movie.items | orderBy:movie.sortType track by $index">
                      <td><img ng-src="http://img.omdbapi.com/?apikey=eba8f302&i={{item.imdbID}}" height="150px"></td>
                      <td>
                          <p>
                              <b>{{item.Title}}</b>
                              <span class="sub">
                                  <b>({{item.Released}})</b>
                                  Metascore:
                                  <span class="label label-warning">{{item.Metascore}}</span>
                                  IMDB Rating:
                                  <span class="label label-warning">{{item.imdbRating}}</span>
                              </span>
                          </p>
                          <p>
                              <b>Rated: {{item.Rated}}</b> |
                              <span class="sub">Runtime: {{item.Runtime}}</span>
                          </p>
                          <p>{{item.Plot}}</p>
                          <p class="sub">
                              Genre: {{item.Genre}} | Actors: {{item.Actors}}
                          </p>
                      </td>
                      <td>
                        <button type="button" ng-click="movie.deleteItem($index)" name="button" class="btn btn-danger btn-xs">Remove</button>
                      </td>
                  </tr>
            </tbody>
        </table>
        <div class="row"></div>

        <script type="text/javascript" src="app.js"></script>
    </body>

</html>
