<!DOCTYPE html>
<html ng-app="bgameList" lang="en">

    <head>
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet" type="text/css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/style.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
        <title>My Board Game Collection</title>
    </head>

    <body id="bgames-background" class="container" ng-controller="bgameController as bgame" ng-init="bgame.init()">
      <h1 class="jumbotron text-center">My Awesome Board Game Collection</h1>
      <ul class="nav nav-tabs">
          <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  Other Collections
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                  <li id="dropdown-select"><a href="/html/movies.html">Movies</a></li>
                  <li><a href="/html/vgames.html">Video Games</a></li>
              </ul>
          </li>
      </ul>
      <form>
        <label id="rows">Add board games here:</label>
        <input id="newbgameTitle" type="text" ng-model="bgame.newBgame.name" size="30" placeholder="Name" autofocus autocomplete="off"/>
        <button id="submitButton" type="submit" ng-click="bgame.getBgames(bgame.newBgame.name); " name="button" class="btn btn-info " data-toggle="modal" data-target="#myModal">Submit</button>
      </form>
      <label>Sort by:</label>
      <select ng-model="bgames.sortType">
          <option ng-repeat="key in bgame.dummyKeys" value="{{key}}">{{key}}</option>
      </select>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel">Search Results</h4>
                  </div>
                  <div class="modal-body">
                    <img ng-src="{{bgame.newBgame.Image}}" height="150px">
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="bgame.addItem(bgame.newBgame)">Add Game</button>
                  </div>
              </div>
          </div>
      </div>
      <table class="table table-striped">
          <thead></thead>
          <tbody>
              <tr ng-repeat="item in bgame.items | orderBy:bgames.sortType track by $index">
                  <td>
                    <img ng-src="{{item.Image}}" height="150px">
                  </td>
                  <td>
                      <p>
                          <b class="resize">{{item.Name.Value}}</b>
                          <p id="truncate" class="sub">
                              <b class="resize">({{item.Description}})</b>
                          </p>
                      </p>
                  </td>
                  <td>
                      <button type="button" ng-click="bgame.deleteItem(item)" name="button" class="btn btn-danger btn-xs">Remove</button>
                  </td>
              </tr>
          </tbody>
      </table>
      <div class="row">
        <p>
      <a href="/html/login.html" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-log-out"></span> Log out
      </a>
    </p>
      </div>
      <script type="text/javascript" src="../js/saveService.js"></script>
        <script type="text/javascript" src="../js/bgames.js"></script>

    </body>

</html>
